:root {
	--inv: #7e6765; /* Define the custom variable with the desired color value */
	--def: #7e6765;
}

/* Object */
/* {"Seasalt":"F8F8F8",
    "Platinum":"D7D8D8",
    "French gray":"CDD3D8",
    "Cadet gray":"98A7AE",
    "Payne's gray":"5F6B7D",
    "Dim gray":"7C7075",
    "Wenge":"7E6765",
    "Van Dyke":"483E40",
    "Gunmetal":"323744",
    "Jet":"2E2F37"} */

body {
	background-color: rgb(255, 218, 223);
}
.hero-video {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
	.hero-video {
		width: 100%;
		height: auto;
	}
}
@media (max-aspect-ratio: 16/9) {
	.hero-video {
		width: auto;
		height: 100%;
	}
}

.hero {
	width: 100%;
	height: 100vh;
	/* background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3)); */
	position: relative;
	padding: 0 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 3%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: 2;
}

.logo {
	width: 40px;
}
.nav-items {
	list-style: none;
	display: inline-block;
	margin-left: 40px;
	color: white;
}
.button {
	display: inline-block;
	color: white;
	font-size: 20px;
	border: 2px solid white;
	padding: 8px 30px;
	border-radius: 50px;
	transition: 0.6s;
	background-color: transparent;
}
.button:hover {
	background-color: white;
	color: transparent;
	cursor: pointer;
}
.content {
	text-align: center;
}
.content h1 {
	font-size: 160px;
	color: white;
	font-weight: 600;
	transition: 0.5s;
}
.content h1:hover {
	-webkit-text-stroke: 2px white;
	color: transparent;
}
.content-btn {
	display: inline-block;
	color: white;
	font-size: 24px;
	border: 2px solid white;
	padding: 14px 70px;
	border-radius: 50px;
	margin-top: 20px;
	transition: 0.6s;
}
.content-btn:hover {
	background-color: white;
	color: transparent;
	cursor: pointer;
}

/* end of poses-by  */

.modal .form-title-container {
	display: flex;
	justify-content: space-between;
}
.modal .form-title-container button {
	border: none;
	background-color: transparent;
}

/* SIGN UP  */
.signup-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.signup-modal-content {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
}
