.hidden {
	opacity: 0;
	filter: blur(7px);
	transition: all 3s;
	transform: translateX(-100%);
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

@media (prefers-reduced-motion) {
	.hidden {
		transition: none;
	}
}

.video {
	height: 40vh;
}
.posesBy {
	padding-top: 20px;
	font-size: 1.4rem;
	color: var(--inv);
	letter-spacing: 1.1rem;
	text-transform: uppercase;
}

.card {
	background-color: #d7d8d8;
	border: #98a7ae solid 1px;
}
