body.loading {
    overflow: hidden;
    height: 100vh;
}

.loader-inner {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* object-fit: contain; */
    /* max-width: 100%;
    max-height: 100%; */
    /* overflow: hidden; */
    position: relative;
    align-items: center;
    justify-items: center
}

img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;

}

/* group on beach*/
.image-1 {
    align-self: start;
    justify-self: start;
    max-height: 45vh;
    grid-area: 1 / 1 / 3 /3;
}

/* man img */
.image-2 {
    grid-area: 1 / 3 / 3 / 4;
    max-height: 45vh;
    align-self: start;
    /* margin-right: 2vw; */

}

/* beach tree pose */
.image-3 {
    grid-area: 1 / 2 / 4 / 3;
    max-height: 55vh;
    justify-self: end;
    /* max-height: 60vh; */
    /* position: static; */
    /* padding: 0 10px; */
    /* margin-top: 7vh; */

}

/* mother daughter */
.image-4 {
    grid-area: 2 / 1 / 4 / 2;
    align-self: end;


}

/* seated girl */
.image-5 {
    max-height: 50vh;
    grid-area: 2 / 3 / 4 / 4;
    align-self: end;
    /* justify-self: end; */

}



/* .image-block {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} */



/* @keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

/* @media (max-width: 768px) {
    .loader {
        width: 100%;
        height: 100%;
    }

    .loader-inner {
        width: 150px;
        height: 150px;
    }

    .image-block {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
} */